/* header */
.header {
  background-color: bisque;
  justify-content: space-between;
}

/* 仮 */
.header .account > p,a{
  padding:0 10px;
}

.header .logout {
  width:auto;
  height: 30px;
  margin: auto 10px;
}

/* productsList */
.productsList {
  background-color: lightyellow;
}

/* 仮 */
.productDetail > button {
  display: block;
  margin: 10px 0;
  
}
/* 仮 */
.wishlist_item > button {
  display: block;
  margin-left:30px;
}
.wishlist_item {
  display: flex;
}