body {
  background-color: rgb(255, 200, 221, 0.05);
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.app .first_view > h2 {
  font-size: 1.6rem;
  width: 150px;
  margin: 10px auto;
  color: rgb(255, 187, 0);
  text-align: center;
  border-bottom: 4px solid palevioletred;
}

.app .site_images {
  display: flex;
  margin-top: 30px;
}

.app .site_images img {
  display: block;
  height: auto;
}

@media (max-width: 500px) {
  .app .site_images {
    flex-direction: column;
    align-items: center;
  }  

  .app .site_images img {
    width: 90%;
    margin-bottom: 10px;
  }  
}

@media (min-width: 500px) {
  .app .site_images {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  } 

  .app .site_images img {
    width: 45%;
    margin-bottom: 20px;
  }  
}

@media (min-width: 900px) {
  .app .site_images {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
  } 

  .app .site_images img {
    width: 45%;
  }  
}

/* link  */
.link_wrapper {
  font-size: 15px;
  opacity: 0.7;
  margin: 20px;
  display: flex;
}

.link_wrapper div {
  display: flex;
  width: 'auto';
}

.link_wrapper span{
  display: block;
  margin-left: 5px;
}

.link_wrapper div:last-child span{
  display: none;
}

a {
  text-decoration: none;
  color:#000;
  display: block;
}

li {
  list-style: none;
} 

.order_complete {
  font-size: 1.5rem;
  margin: 0 auto;
}

.order_complete .text {
  margin: 0 auto;
}

.order_complete a{
  color: darkcyan
}

.order_complete img{
  display: block;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .order_complete .text {
    width: 100%;
    text-align: center;
    padding: 5px 0 0 10px;
  }
  .order_complete img{
    width: 250px;
    margin-top: 20px;
  }  
}

@media (min-width: 400px) {
  .order_complete .text {
    width: 300px;
    padding: 5px 0 10px 100px;
  }
  .order_complete img{
    width: 300px;
  }  
}

@media (min-width: 500px) {
  .order_complete .text {
    width: 400px;
    padding: 5px 0 10px 100px;
  }
  .order_complete img{
    width: 450px;
  }  
}