.product_slider .dot_list {
  color: lightgray;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product_slider .dot_list .activeDot {
  color: gray;
}

.product_slider #productSlider_prevArrow,
.product_slider #productSlider_nextArrow {
  width: 35px;
  z-index: 2;
}

.product_slider .swiper {
  position: relative;
}

.product_slider #productSlider_prevArrow {
  position: absolute;
  left: 0%;
  bottom: 50%;
}
.product_slider #productSlider_nextArrow {
  position: absolute;
  right: 5%;
  bottom: 50%;
}



.product_slider #productSlider_prevArrow > button,
.product_slider #productSlider_nextArrow > button {
  padding: 0;
}
