/* header */
.header {
  justify-content: space-between;
  height: 55px;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(229,229,229, 0.5);
  background-color: rgb(255, 200, 221, 0.08);
}

/* logo */
.header > .title_logo {
  font-size: 1.8rem;
  font-weight:570;
  align-self:center;
  margin-left:25px;
  font-family: 'Varela Round', sans-serif;
}

.header > .title_logo > a {
  color: "#495057";
}

.header > .title_logo span {
  color: pink;
}

/* navbar */
.header .navbar > ul {
  display: flex;
  align-items: center;
  margin-top:20px;
}

.header .navbar li > a {
  margin:0 22px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color:rgba(0,0,0,0.7)
}

.header .navbar li > a:hover {
  color:rgb(255, 182, 193,0.7);
  transition:color 0.1s;
}

/* menu */
.header .menu_wrapper {
  align-items: center;
  margin:0 25px;
}

.header .menu_wrapper > div{
  margin:0 5px;
}

.header .account > p,a{
  padding:0 10px;
}

.header .logout {
  width:auto;
  height: 30px;
  margin: auto 10px;
}

/* drawer */
.headerDrawer_container .hello_message div {
  width: 100%;
}

.headerDrawer_container .hello_message .account-service{
  display: block;
  display: flex;
  height: 50px;
  color:darkcyan;
}

.headerDrawer_container .account-service .account-icon{
  align-self: center;
}

.headerDrawer_container .hello_message span {
  display: block;
  align-self: center;
  margin-left: 10px;
}

.headerDrawer_container .hello_message > .account-service {
  color: darkcyan;
  padding:15px 0;
}

.headerDrawer_container .link {
  height: 50px;
}

.headerDrawer_container .link > a {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

.headerDrawer_container .button_wrapper > button {
  display: flex;
  margin-left: 15px;
  margin-top:10px;
}

.headerDrawer_container .button_wrapper > button,
.headerDrawer_container .button_wrapper > a {
  background-color: transparent;
  border:none;
  font-size: 17px;
  color:rgb(61, 61, 61)
}

.headerDrawer_container .button_wrapper > .logout-icon{
  align-self: center;
}
.headerDrawer_container .button_wrapper span{
  display: block;
  padding-left: 10px;
}

.headerDrawer_container .button_wrapper .login{
  padding-left: 20px;
  padding-top: 10px;
  color: darkcyan;
}

@media (max-width:930px) {
  .header .navbar {
    display: none;
  }
}

@media (max-width:500px) {
  .header {
    justify-content: space-between;
  }
}
