.footer {
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  text-align: center;
  font-size: 1.1rem;
  padding-top:10px;
  padding-right: 20px;
}

@media (max-width:300px) {
  .footer {
    height: 50px;
  }
}

@media (min-width:300px) {
  .footer {
    height: 80px;
  }
}
